@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap');


/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My Actual CSS */
* {
    box-sizing: border-box;
}

body {
    display: flex;
    gap: 15px;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/background2.jpg);
    font-family: 'Source Serif Pro', serif;
}

h1 {
    font-size: 88px;
    font-family: 'Lavishly Yours', cursive;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
    margin-top: 20px;
}

h4 {
    margin-top: 30px;
    font-size: 88px;
    font-family: 'Lavishly Yours', cursive
}

p {
    font-size:  20px;
}

img {
    width: 250px;
    height: auto;
}

.gameboard-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100vh;
    width: 80vw;
    min-width: 642px;
    justify-content: space-between;
    display: none;
}

.deck {
    border: 1px solid black;
    height: 250px;
    width: 250px;
    margin: 15px;
    background-image: url('/images/cardback.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: all 0.8s ease;
}

.win-tokens {
    font-size: 48px;
    border: 1px solid black;
    height: 100px;
    width: 200px;
    margin: 15px;
}

.discarded-card {
    height: 75px;
    width: 250px;
    border: 1px solid black;
    background-image: url('/images/mahogany.jpg');
    color: white;
}

.card-in-hand {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    height: 340px;
    width: 250px;
    margin: 15px 0;
    box-shadow: 0 0 25px;
    transition-duration: 1s;
}

.card-in-hand:hover, #draw-deck:hover {
    box-shadow: 0 0 50px white;
}

#deck-area-div {
    text-align: center;
    display: none;
    margin-left: 100px;
}

#end-of-game-message, #supplemental-end-of-game-message {
    font-size: 24px;
}

#removed-card-image {
    width: 250px;
}

#start-game-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: fixed;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
    padding: 50px;
    background-image: url('/images/parchment.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 0 100px;
}

#play-area-mat {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

#play-button {
    background-image: url('../images/background2.jpg');
}

#opponent-mat, #player-mat, .deck, #discarded-cards-row-2, #discarded-cards-row-1,
.win-tokens, .guard-guess, #opponent-card-2, #opponent-win-div, #player-wins-div {
    display: flex;
    gap: 15px;    
    justify-content: center;
    align-items: center;
    text-align: center;
}

#discarded-card-area {
    display: flex;
    gap: 15px; 
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.discarded-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.rules-modal {
    background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
    display: none;
}

#prince-effect-modal, #guard-effect-modal {
    background-color: rgba(0,0,0,0.4);
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
    display: none;
}

#guard-effect-button-div {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 25px;
    justify-content: center;
    align-items: center;
}

.modal-textbox-large, .modal-textbox-medium, .modal-textbox-tiny {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
    /*This will set the margins for the top and the bottom to 150px (or larger). The right and left will automatically set themselves (and keep the box centered horizontally).*/
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	/*This will give the box some depth.*/
    background-image: url('/images/parchment.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.modal-textbox-large {
    align-items: left;
    padding: 15px;
	height: 90vh;
	width: 1100px;
	border-radius: 2px;
    margin: 50px auto;   
    padding: 35px; 
    overflow-y: auto;
}

.modal-textbox-medium {
    padding: 15px;
	height: 35vh;
	width: 675px;
	border-radius: 2px;
    margin: 150px auto;
}

.modal-textbox-tiny {
    gap: 25px;
    padding: 25px;
	height: 25vh;
	width: 675px;
	border-radius: 2px;
    margin: 150px auto;
}

#general-rules-close:visited, #card-rules-close:visited {
    color: black;
}

#general-rules-close:active, #card-rules-close:active {
    color: white;
}

#general-rules-close:hover, #card-rules-close:hover {
    color: white;
}

#general-rules-close, #card-rules-close {
    text-align: center;
    font-size: 24px;
}

#rules-area {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
}

.button {
    background-image: url('/images/bluevelvet.jpg');
    color: white;
    margin: 5px;
    padding: 5px;
    transition-duration: 0.4s;
    font-size: 24px;
    font-family: 'Source Serif Pro', serif;
    box-shadow: 4px 4px 10px black;
}


.rules-button {
    height: 75px;
    width: 225px;
    background-image: url('/images/bluevelvet.jpg');
    color: white;
    margin: 5px;
    transition-duration: 0.4s;
    font-size: 24px;
    font-family: 'Source Serif Pro', serif;
}

.button:hover {
    background-image: url('/images/background2.jpg');
    color: white;
    box-shadow: 4px 4px 20px white;
}

#play-button {
    width: 50%;
    height: 30%;
    font-size: 64px;
    font-family: 'Lavishly Yours', cursive;
    transition-duration: 0.4s;
}

#play-button:hover {
    background-image: url('/images/bluevelvet.jpg');
    color: white;
}

#restart-button, #new-match-button {
    display: none;
}

#opponent-card-1 img, #opponent-card-2 img{
    width: 150px;
    height: auto;
    margin-top: 10px;
}